[submodule "submodules/a2ui-project/composer"]
	path = submodules/a2ui-project/composer
	url = https://github.com/a2ui-project/composer.git
	depth = 1
[submodule "submodules/a2ui-project/a2ui"]
	path = submodules/a2ui-project/a2ui
	url = https://github.com/a2ui-project/a2ui.git
	depth = 1
[submodule "submodules/easyops-cn/a2ui-sdk"]
	path = submodules/easyops-cn/a2ui-sdk
	url = https://github.com/easyops-cn/a2ui-sdk.git
	depth = 1
[submodule "submodules/shawnwang15/a2ui-vue"]
	path = submodules/shawnwang15/a2ui-vue
	url = https://github.com/shawnwang15/a2ui-vue.git
	depth = 1
[submodule "submodules/ant-design/ant-design"]
	path = submodules/ant-design/ant-design
	url = https://github.com/ant-design/ant-design.git
	depth = 1
